/*<<<<<<< HEAD:itsc3155-project/static/css/styles.css*/
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f7;
}

.background-image::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    /* Ensure the image stays in the background */
    display: block;
    background-image: url('images/uncc.png');
    /* Adjust path as needed */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

@keyframes fadeInTextBackground {
    0% {
        background-color: rgba(255, 255, 255, 0);
        color: #000;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.75);
        color: #333;
    }
}


/* Reset margins and padding */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header with the centered title */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5484d6;
    padding: 10px 20px;
    position: relative;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    color: #f8f9fa;
    text-align: center;
}

/* Menu icon styling */
.menu-icon {
    cursor: pointer;
    font-size: 24px;
}

/* Side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #122f5e; /* Softer light blue */
    color: #8395a7; /* Darker blue for readable contrast */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Navigation links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Hover effect for links */
.sidenav a:hover {
    background-color: #575757;
}

/* Profile info in the top right corner */
.profile-info {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: 'Roboto', sans-serif; /* Roboto font for modern look */
    color: #f8f9fa; 
}

.avatar {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

/* Main content layout */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Assignments container styling */
.assignments-container {
    width: 30%;
    /* Adjust size as needed */
}

.assignment-box {
    background-color: #ffecd2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hub button container */
.hub-container {
    text-align: center;
    /* Center the button */
    flex-grow: 1;
}

.hub-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff8b94;
    color: white;
}

/* Avatar container */
.avatar-container {
    width: 30%;
    /* Adjust size as needed */
    text-align: right;
}


/* Form container */
.signup-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

/* Form title */
.signup-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

/* Input fields styling */
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Focus state for inputs */
.signup-container input[type="text"]:focus,
.signup-container input[type="email"]:focus,
.signup-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit button styling */
.signup-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .signup-container {
        padding: 20px;
    }
}


/* Form container */
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

/* Form title */
.login-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

/* Input fields styling */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Focus state for inputs */
.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit button styling */
.login-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .login-container {
        padding: 20px;
    }
}



.welcome-container {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Enhanced readability for text inside the container */
.welcome-container h2,
.welcome-container p {
    margin: 20px 0;
    color: #333;
}

/* Add a hover effect to the container for interactive feedback */
.welcome-container:hover {
    background-color: rgba(255, 255, 255, 1);
}


.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.action-buttons button.login-button {
    background-color: #28a745;
}

.action-buttons button:hover {
    opacity: 0.9;
}

/* Calendar CSS below*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f7;
    /* Light gray background */
    margin: 0;
    padding: 0;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    align-self: center;
    background-color: #a39a22; /* Changes the color of the calendar itself */
    
}
#canvas-calendar {
    background-color: #1436bf; /*changes the color of the calendar page*/
    overflow: hidden;
    
}

#calendar-container {
    max-width: 1000px;
    /* Max width of the calendar */
    margin: 40px auto;
    /* Center the calendar with margin */
    padding: 15px;
    background-color: #7c227f;
    /* White background for the calendar */
    box-shadow: 0 4px 8px rgba(71, 60, 60, 0.1);
    /* Adding a subtle shadow */
    border-radius: 8px;
    /* Rounded corners */
    
}

.fc-toolbar-title {
    font-size: 24px;
    /* Larger font size for the calendar title */
    color: #333333;
    /* Darker font color for better readability */
}

.fc-button {
    background-color: #4CAF50;
    /* Green background for buttons */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.fc-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.fc-button.fc-button-primary {
    background-color: #007bff;
    /* Bootstrap primary color for primary buttons */
}

.fc-button.fc-button-primary:hover {
    background-color: #0069d9;
    /* Darker blue on hover */
}

.fc-event,
.fc-event-dot {
    background-color: #ff5722;
    /* A different color for events */
    border: none;
}

.fc-event-title {
    color: #ffffff;
    /* White text color for event titles */
}

/* Assignments container styling */
.assignments-container {
    width: 30%;
    /* Adjust size as needed */
}

.assignment-box {
    background-color: #ffecd2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hub button container */
.hub-container {
    text-align: center;
    /* Center the button */
    flex-grow: 1;
}

.hub-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff8b94;
    color: white;
}

/* Avatar container */
.avatar-container {
    width: 30%;
    /* Adjust size as needed */
    text-align: right;
}


/* Form container */
.signup-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

/* Form title */
.signup-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

/* Input fields styling */
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Focus state for inputs */
.signup-container input[type="text"]:focus,
.signup-container input[type="email"]:focus,
.signup-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit button styling */
.signup-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .signup-container {
        padding: 20px;
    }
}


/* Form container */
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

/* Form title */
.login-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

/* Input fields styling */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Focus state for inputs */
.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit button styling */
.login-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .login-container {
        padding: 20px;
    }
}



.welcome-container {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Enhanced readability for text inside the container */
.welcome-container h2,
.welcome-container p {
    margin: 20px 0;
    color: #333;
}

/* Add a hover effect to the container for interactive feedback */
.welcome-container:hover {
    background-color: rgba(255, 255, 255, 1);
}


.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.action-buttons button.login-button {
    background-color: #28a745;
}

.action-buttons button:hover {
    opacity: 0.9;
}

/* Avatar selection CSS */
.avatar-selection .avatars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Ensures responsiveness */
    gap: 20px;
    /* Adds space between avatars */
    margin-top: 10px;
    /* Space below the "Choose Your Avatar:" text */
}

.avatar-selection label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    /* Add some space around each avatar */
}

.avatar-selection label img {
    width: 200px;
    /* Adjusted size */
    height: auto;
    /* Maintain aspect ratio */
    border: 2px solid transparent;
    /* Hide border by default */
    border-radius: 50%;
    /* Optional: Rounds the corners of the images */
    transition: all 0.3s ease;
    /* Smooth transition for border and scale */
}

.avatar-selection input[type="radio"] {
    display: none;
    /* Hide radio buttons */
}

.avatar-selection input[type="radio"]:checked + img {
    border-color: green;
    /* Border color for selected avatar */
    transform: scale(1.1);
    /* Optional: Slightly enlarge selected avatar */
}

/* Ensure the main layout is a flex container */
.shop-layout {
    display: flex;
    justify-content: left; /* Center the grid in the middle of the page */
    padding: 20px;
    width: 100%; /* Ensures the layout takes full available width */
}

.shop-grid {
    display: grid;
    width: 100%; /* Limits the grid to half of its parent container's width */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Automatically fills the row with as many columns as it can fit, each at least 120px wide */
    gap: 10px; /* Spacing between each item */
    margin: 0 auto; /* Centers the grid horizontally */
}

.tabs-container {
    flex: 1;
    width: 50%; /* Tabs container takes up half the width */
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    transition: border 0.3s ease-in-out; /* Smooth transition for border color change */
    cursor: pointer; /* Changes the cursor to a pointer */
}

.shop-item:hover {
    border-color: #007bff; /* Changes the border color to blue on hover */
}


.shop-item img {
    height: 100px; /* Example size, adjust as needed */
    max-width: 100%; /* Maintain aspect ratio */
}

.shop-item p img {
    height: auto; /* Revert to default for coin images */
    width: auto;  /* Maintain aspect ratio for coin images */
}



.user-avatar-large {
    flex: 1;
    width: 50%; /* Each takes up half of the container's width */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content for better aesthetics */
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


/*To-do List CSS*/
.todoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-left: 35px;
    text-decoration: underline;
}

.todoItem{
    display: flex;
    flex-direction: row;
}

.finished{
    margin-right:10px;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}

/*dashboard elements*/
.rounded {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.notification-box h3,
.task-box h3 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.notification-box p,
.task-box li a {
    padding: 10px 0;
    display: block;
    color: #666;
}

.task-box li a {
    text-decoration: none;
    color: #007bff;
}

.task-box li a:hover {
    text-decoration: underline;
}

.notification-box, .task-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  